p{
    color: aqua;
    text-align: right;
}
h1{
    color: red;
}
h2{
    color: yellow;
}
h3{
    color: green;
}
h4{
    color: blue;
}
h5{
    color: violet;
}
h6{
    color: brown;
}
#Noob{
    background-color: black;
}
.supp{
    font-size: 30px;
}