$just-center: center;
$text-font: 18px;
$prim-col-2: #ff0000;
$flex-row: row;
$flex-col: column;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li,a{
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.bg {
    background-color: #e7e7e7;
}

// NAVBAR Codes // 

nav{
    width: 100%;

    .container{
        max-width: 70rem;
        display: flex;
        justify-content: $just-center;
        margin-right: auto;
        margin-left: auto;
        
        a{
            font-size: $text-font;
            padding: 1rem;
        }
        a:hover{
            color: $prim-col-2;
        }
        a:last-child{
            @extend .bg; 
            border-color: #333333;
        }
    }
}

// HEADER Codes //

header {
    width: 100%;
    display: flex;

    .container{
        max-width: 70rem;
        display: flex;
        justify-content: $just-center;
        flex-direction: $flex-row;
        margin-right: auto;
        margin-left: auto;

        .testo{
            text-align: center;
            padding: 1rem;
        }

        .uno{
            width: calc(100% / 3);
        }

        .due{
            width: calc(100% / 1);
        }
    }
}