$red : red;
$green : green;
$blue : blue;

.wrapper{
    width: 100%;
    background-color: $red;

    .container{
        width: 100%;
        max-width: 70rem;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid $green;

        p{
            color: $blue;
        }
    }
}